body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 750px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
        outline: none;
    }
}

button {
    background-color: transparent;
    outline: transparent;
    border: none;
}

img {
    width: 100%;
    height: auto;
}

.u-img {
    display: block;
    position: relative;
    overflow: hidden;
}

.u-img::before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}

.u-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.c-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.c-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    padding: 10px 0;
    border-color: rgba(129, 129, 129, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__burger {
        display: none;
    }

    @media (max-width: 768px) {
        &__burger,
        &__button {
            font-size: 1.2rem;
            margin-top: 5px;
            padding: 0;
        }
    
        &__burger {
            display: block;
            margin-right: 15px;
            font-weight: 600;
        }
        
        &__burger-icon {
            display: block;
        }
        
        &__burger-icon span,
        &__burger-icon:after,
        &__burger-icon:before {
            background-color: #2d2a2a;
            content: "";
            display: block;
            height: 2px;
            margin-left: auto;
            margin-right: auto;
            transition: transform .3s,opacity .3s;
            width: 28px;
            will-change: transform;
        }
        
        &__burger-icon span {
            margin-bottom: 6px;
            margin-top: 6px;
            transform-origin: center;
        }
        
        &__button {
            position: relative;
        }
        
        &__button-icon {
            align-items: center;
            display: flex;
            filter: brightness(0) invert(.095);
            justify-content: center;
            will-change: transform;
        }
    
        &__burger-icon,
        &__button-icon {
            height: 20px;
            margin-bottom: 2px;
        }
    
        .is-burger &__burger-icon span {
            opacity: 0;
            transform: scaleX(0);
        }
    
        .is-burger &__burger-icon:before {
            transform: translateY(8px) rotate(-45deg);
        }
    
        .is-burger &__burger-icon:after {
            transform: translateY(-8px) rotate(45deg);
        }     
    }

    &__logo {
        img {
            max-width: 110px;

            @media (min-width: 992px) {
                max-width: 150px;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            position: fixed;
            top: 54px;
            left: -340px;
            width: 300px;
            height: calc(100% - 54px);
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            background: #fff;
            transition: transform 0.3s;

            .is-burger & {
                transform: translateX(340px);
            }
        }

        &-item {           
            a {
                display: flex;
                align-items: center;
                padding-left: 6px;
                padding-right: 6px;
                height: 40px;
                font-weight: 600;
                font-size: 13px;
                color: #333;
                letter-spacing: .2px;
                text-transform: uppercase;
                transition: color 0.25s;

                @media (min-width: 992px) {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                &:hover {
                    color: #f49fc6;
                }
            }
        } 
    }

    &__social {
        display: flex;
        align-items: center;

        &-item {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border: 2px solid #CCC;
                border-radius: 50%;
                color: rgba(0,0,0,.4);
            }

            &:not(:first-child) {
                margin-left: 8px;
            }
        }
    }
}

.c-main {
    &__wrap {
        margin-top: 40px;
        background-image: url(../img/main-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__banner {
        @media (min-width: 768px) {
            width: calc(50% - 15px);
        }
    }

    &__content {
        h1 {
            margin-bottom: 30px;
            color: #2d2a2a;
            font-weight: 600;
            font-size: 40px;
            line-height: 1.2;

            @media (min-width: 768px) {
                font-size: 40px;
            }
        }

        h2 {
            margin-bottom: 20px;
            color: #2d2a2a;
            line-height: 40px;
            font-size: 26px;

            @media (min-width: 768px) {
                font-size: 30px;
            }
        }

        h3 {
            margin-bottom: 10px;
            color:  #989898;
            font-size: 16px;
            letter-spacing: .3px;

            @media (min-width: 768px) {
                font-size: 18px;
            }
        }

        p {
            margin-bottom: 20px;
            line-height: 26px;
            font-size: 16px;
            color:  #989898;
        }

        @media (min-width: 768px) {
            width: calc(50% - 15px);
            order: 1;
        }

    }
}

.c-benefit {
    margin-top: 50px;
    background-color: #ffda35;
    color: #555555;

    &__wrap {
        position: relative;
        padding: 60px 0;

        @media (min-width: 992px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 100px 0;
        }

        &::after {
            content: '';
            position: absolute;
            top: -60px;
            right: 0;
            display: block;
            width: 120px;
            height: 120px;
            background-image: url(../img/benefit-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media (min-width: 576px) {
                top: -80px;
                width: 160px;
                height: 160px;
            }

            @media (min-width: 768px) {
                top: -100px;
                width: 200px;
                height: 200px;
            }
        }
    }

    &__item {
        display: flex;

        @media (max-width: 991px) {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        
        @media (min-width: 992px) {
            max-width: 350px;
        }
        
        &-number {
            width: 65px;
            margin-right: 20px;
            font-size: 45px;
            font-weight: 700;
            line-height: 1;

            @media (min-width: 768px) {
                width: 75px;
                font-size: 52px;
            }
        }

        h4 {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 28px;
            line-height: 1.3;

            @media (min-width: 992px) {
                font-size: 28px;
            }
        }

        p {
            font-size: 14px;
        }
    }
}

.c-about {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fafafa;

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__item {
        &-video {
            padding: 80px 0;
            order: 1;
            background-image: url(../img/video-bg.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            img {
                opacity: 1;
                visibility: visible;
                transition: opacity 1s, visibility 1s;
                cursor: pointer;

                &.is-hidden {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &.u-img img {
                z-index: 1;
            }
            
            &.u-img img, &.u-img iframe {
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                height: calc(100% - 160px);
                object-fit: cover;
            }
        }

        h4 {
            margin-bottom: 30px;
            color: #2d2a2a;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.3;

            @media (min-width: 768px) {
                font-size: 36px;
            }
        }

        p {
            margin-bottom: 20px;
            font-size: 14px;
            color: #777;
        }

        @media (min-width: 768px) {
            width: calc(50% - 15px);
        }
    }
}

.c-offer {
    padding-top: 50px;

    &__subtitle {
        margin-bottom: 10px;
        font-size: 14px;
        color: #777;
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.3;
        color: #2d2a2a;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media (max-width: 767px) {
            margin-left: -40px;
            margin-right: -40px;
        }

        &-item {
            width: calc(50% - 40px);
            margin-bottom: 40px;
            text-align: center;

            @media (min-width: 768px) {
                width: calc(20% - 40px);
            }
        }

        img {
            margin-bottom: 10px;

            @media (max-width: 767px) {
                max-width: 200px;
            }
        }

        &-title {
            margin-bottom: 5px;
            color: #333;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.3;
        }

        &-price {
            margin-bottom: 5px;
            font-size: 15px;
            line-height: 1.3;
            color: #f49fc6;
        }

        &-description {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 22px;
            color: #777;
        }
    }
}

.c-review {
    position: relative;
    background-color: #EFEFEF;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32px;
        background-image: url(../img/waves-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__wrap {
        padding-top: 80px;
        padding-bottom: 60px;

        .swiper {
            overflow: unset;

            &-pagination {
                bottom: -10px;

                &-bullet-active {
                    background-color: #2d2a2a;
                }
            }

            &-button-next {
                right: -20px;
            }

            &-button-prev {
                left: -20px;
            }

            &-button-next,
            &-button-prev {
                width: 25px;
                height: 25px;
                padding: 10px;
                border: 1px solid rgba(0,0,0,0.4);
                border-radius: 50%;
                background-color: #fff;

                &::after {
                    font-size: 25px;
                    font-weight: 700;
                    color: rgba(0,0,0,0.4);
                }
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
        color: #2d2a2a;
    }

    &__list {
        // display: flex;
        // justify-content: space-evenly;
        // flex-wrap: wrap;

        &-item {
            width: calc(100% - 50px);
            text-align: center;
            margin: 0 5px 20px;
            padding: 20px;
            text-align: center;
            background: #fff;
            box-shadow: 0 0 5px rgba(0,0,0,.1);

            @media (min-width: 400px) {
                width: calc(50% - 50px);
            }

            @media (min-width: 576px) {
                width: calc(33.33% - 50px);
            }

            @media (min-width: 768px) {
                width: calc(25% - 50px);
            }

            @media (min-width: 992px) {
                width: calc(20% - 50px);
            }

            img {
                max-width: 70px;
            }
        }

        &-text {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 22px;
            color: #777;
        }

        &-title {
            color: #333;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.3;
        }
    }
}

.c-footer {
    position: relative;
    background-color: #ffda35;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32px;
        background-image: url(../img/footer-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 60px;

        &-title {
            margin-bottom: 15px;
            max-width: 420px;
            font-size: 30px;
            font-weight: 700;
            color: #3f3f3f;

            @media (min-width: 768px) {
                font-size: 36px;
            }
        }

        &-phone {
            margin-bottom: 35px;
            font-size: 18px;
            color: #3f3f3f;
            transition: color 0.25s;

            &:hover {
                color: #f49fc6;
            }
        }

        &-logo {
            margin-bottom: 10px;
            max-width: 150px;
        }

        &-copyright {
            margin-bottom: 10px;
            max-width: 350px;
            line-height: 24px;
            font-size: 15px;
            color: #777;
        }
    }

    
    &__social {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &-item {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border: 2px solid #3f3f3f;
                border-radius: 50%;
                color: #3f3f3f;
            }

            &:not(:first-child) {
                margin-left: 8px;
            }
        }
    }
}
